<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.3.0/mermaid.min.js"
    integrity="sha512-FwnznVYc+d1qqPe2F+6IxQCa5j/3kCqUUgkJfMjP5r71sHNuDvQYn5h/aUkVwkh+Gihu5licMvcItyF06s5uRw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        mermaid.initialize({
            startOnLoad: true,
            theme: "default",
            mirrorActors: false,
        });
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    });
</script>