---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, '微軟正黑體', sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size:   18px;

$content-width:  1140px;

@import "minima";

.site-header {
    z-index: 2;
}

.page-content {
    z-index: 1;
}

a {
    word-wrap: break-word;
}

hr {
    margin: 15px 0;
}

figcaption {
    text-align: center;
}

.text-center {
    text-align: center !important;
}

.text-end {
    text-align: right !important;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

h1, code {
    word-wrap: break-word;
}

.language-mermaid {
    background-color: unset;
}

pre, code.language-mermaid {
    background-color: unset;
}

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
) !default;

.ratio {
    position: relative;
    width: 100%;

    &::before {
        display: block;
        padding-top: var(--aspect-ratio);
        content: "";
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@each $key, $ratio in $aspect-ratios {
    .ratio-#{$key} {
        --aspect-ratio: #{$ratio};
    }
}

@media all and (min-width: $content-width) {
    .w-50 {
        margin: auto;
        width: 50%;
    }

    .w-75 {
        margin: auto;
        width: 75%;
    }
}